Repository tnarcis/webgsm: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

04. modificari staus ptoiect
  PROJECT_STATUS.md
Due: none

am stilizat my account
  themes/martfury-child/functions.php
  themes/martfury-child/includes/webgsm-myaccount-headers.php
  themes/martfury-child/includes/webgsm-myaccount.php
Due: php

Modificare buton PJ
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/assets/js/checkout.js
  plugins/webgsm-checkout-pro/includes/class-checkout-anaf.php
  plugins/webgsm-checkout-pro/includes/class-checkout-display.php
  plugins/webgsm-checkout-pro/includes/class-checkout-fields.php
  plugins/webgsm-checkout-pro/includes/class-checkout-save.php
  plugins/webgsm-checkout-pro/includes/class-checkout-validate.php
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: php, javascript

x
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/assets/js/checkout.js
  plugins/webgsm-checkout-pro/includes/class-checkout-anaf.php
  plugins/webgsm-checkout-pro/includes/class-checkout-display.php
  plugins/webgsm-checkout-pro/includes/class-checkout-fields.php
  plugins/webgsm-checkout-pro/includes/class-checkout-save.php
  plugins/webgsm-checkout-pro/includes/class-checkout-validate.php
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: php, javascript

Update webgsm-checkout-pro.php
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: none

New
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: none

Scos buton Anaf + Debug
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/assets/js/checkout.js
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: javascript

x
  PROJECT_STATUS.md
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/assets/js/checkout.js
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
  themes/martfury-child/functions.php
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/retururi.php
  themes/martfury-child/includes/webgsm-myaccount-headers.php
  themes/martfury-child/includes/webgsm-myaccount-modals.php
Due: php, javascript

Update bug comanda adresa separata
  plugins/webgsm-checkout-pro/assets/js/checkout.js
Due: javascript

New version after debug
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/assets/js/checkout.js
  plugins/webgsm-checkout-pro/includes/class-checkout-display.php
  plugins/webgsm-checkout-pro/includes/class-checkout-save.php
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
Due: php, javascript

Adaugare buton stergere si adaugare
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/test-ajaxurl.js
  themes/martfury-child/includes/webgsm-myaccount-modals.php
  themes/martfury-child/includes/webgsm-myaccount.php
Due: php

eliminare spatiere meniu
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/webgsm-myaccount-headers.php
Due: php

Update .gitignore
  .gitignore
Due: none

modifica aspect adrese si face mobile responsive g tabelele cu scrol in container
  PROJECT_STATUS.md
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/webgsm-myaccount.php
Due: php

Fix: Modaluri poziționate relativ la secțiunea deschisă
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/webgsm-myaccount-modals.php
  themes/martfury-child/includes/webgsm-myaccount.php
Due: php

modificat / zone adrese clienti adaugat functii noi , popupuri
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
  themes/martfury-child/functions.php
  themes/martfury-child/includes/header-account-menu.php
  themes/martfury-child/includes/my-account-styling.php
  themes/martfury-child/includes/webgsm-myaccount.php
Due: php

modificri butoane wiew order si popupuri in mobile nealinoiate
  plugins/webgsm-checkout-pro/assets/css/checkout.css
  themes/martfury-child/includes/facturi.php
  themes/martfury-child/includes/my-account-styling.php
Due: php

✨ Initial commit - WebGSM B2B Pricing & Enhanced Registration
  .gitignore
  app/public/wp-content/.gitignore
  app/public/wp-content/plugins/webgsm-b2b-pricing/admin/customers-page.php
  app/public/wp-content/plugins/webgsm-b2b-pricing/admin/reports-page.php
  app/public/wp-content/plugins/webgsm-b2b-pricing/admin/settings-page.php
  app/public/wp-content/plugins/webgsm-b2b-pricing/assets/admin.css
  app/public/wp-content/plugins/webgsm-b2b-pricing/assets/admin.js
  app/public/wp-content/plugins/webgsm-b2b-pricing/webgsm-b2b-pricing.php
  app/public/wp-content/plugins/webgsm-checkout-pro/assets/css/checkout.css
  app/public/wp-content/plugins/webgsm-checkout-pro/assets/js/checkout.js
  app/public/wp-content/plugins/webgsm-checkout-pro/includes/class-checkout-anaf.php
  app/public/wp-content/plugins/webgsm-checkout-pro/includes/class-checkout-display.php
  app/public/wp-content/plugins/webgsm-checkout-pro/includes/class-checkout-fields.php
  app/public/wp-content/plugins/webgsm-checkout-pro/includes/class-checkout-save.php
  app/public/wp-content/plugins/webgsm-checkout-pro/includes/class-checkout-validate.php
  app/public/wp-content/plugins/webgsm-checkout-pro/webgsm-checkout-pro.php
  app/public/wp-content/themes/martfury-child/GUIDE-production-activation.php
  app/public/wp-content/themes/martfury-child/functions.php
  app/public/wp-content/themes/martfury-child/includes/admin-tools.php
  app/public/wp-content/themes/martfury-child/includes/awb-tracking.php
  app/public/wp-content/themes/martfury-child/includes/facturare-pj.php
  app/public/wp-content/themes/martfury-child/includes/facturi.php
  app/public/wp-content/themes/martfury-child/includes/garantie.php
  app/public/wp-content/themes/martfury-child/includes/header-account-menu.php
  app/public/wp-content/themes/martfury-child/includes/my-account-styling.php
  app/public/wp-content/themes/martfury-child/includes/n8n-webhooks.php
  app/public/wp-content/themes/martfury-child/includes/notificari.php
  app/public/wp-content/themes/martfury-child/includes/production-security.php
  app/public/wp-content/themes/martfury-child/includes/registration-enhanced.php
  app/public/wp-content/themes/martfury-child/includes/retururi.php
  app/public/wp-content/themes/martfury-child/includes/test-ajaxurl.js
  app/public/wp-content/themes/martfury-child/includes/webgsm-design-system.php
  app/public/wp-content/themes/martfury-child/includes/webgsm-myaccount-headers.php
  app/public/wp-content/themes/martfury-child/includes/webgsm-myaccount-modals.php
  app/public/wp-content/themes/martfury-child/includes/webgsm-myaccount.php
  app/public/wp-content/themes/martfury-child/style.css
Due: none

📝 Add comprehensive README documentation
  README.md
Due: none

📘 Add GitHub Desktop setup guide
  GITHUB_SETUP.md
Due: none

🔧 Update .gitignore - exclude temporary files
  .gitignore
Due: none

🩹 Add GitHub Desktop troubleshooting guide
  GITHUB_DESKTOP_FIX.md
Due: none

🔗 Add guide for connecting to existing GitHub repository
  CONNECT_EXISTING_REPO.md
Due: none

📚 RESTRUCTURARE: Organizare modulară + documentație completă
  app/public/wp-content/themes/martfury-child/CHANGELOG.md
  app/public/wp-content/themes/martfury-child/INDEX.md
  app/public/wp-content/themes/martfury-child/README.md
  app/public/wp-content/themes/martfury-child/functions.php
  app/public/wp-content/themes/martfury-child/includes/facturi.php
  app/public/wp-content/themes/martfury-child/includes/webgsm-design-system.php
  app/public/wp-content/themes/martfury-child/modules/invoices/README.md
  app/public/wp-content/themes/martfury-child/modules/registration/README.md
  app/public/wp-content/themes/martfury-child/style.css
Due: none

🤖 ADD: Sistem complet AI Onboarding cu prompturi și teste
  app/public/wp-content/themes/martfury-child/AI_ONBOARDING_PROMPTS.md
  app/public/wp-content/themes/martfury-child/AI_TEST_ANSWERS.md
  app/public/wp-content/themes/martfury-child/CHANGELOG.md
  app/public/wp-content/themes/martfury-child/INDEX.md
Due: none

⚡ ADD: QUICK_START.md - One-liner prompt pentru AI nou
  app/public/wp-content/themes/martfury-child/CHANGELOG.md
  app/public/wp-content/themes/martfury-child/INDEX.md
  app/public/wp-content/themes/martfury-child/QUICK_START.md
  app/public/wp-content/themes/martfury-child/README.md
Due: none

📊 ADD: SUMMARY.md - Rezumat complet sistem documentație
  app/public/wp-content/themes/martfury-child/SUMMARY.md
Due: none

🔒 ADD: SECURITY.md - Audit complet securitate (Scor 9.2/10)
  app/public/wp-content/themes/martfury-child/CHANGELOG.md
  app/public/wp-content/themes/martfury-child/INDEX.md
  app/public/wp-content/themes/martfury-child/SECURITY.md
Due: none

✅ SECURITY: Implementare rate limiting + validare regex (Scor 9.2 → 9.5)
  app/public/wp-content/themes/martfury-child/CHANGELOG.md
  app/public/wp-content/themes/martfury-child/SECURITY.md
  app/public/wp-content/themes/martfury-child/includes/facturare-pj.php
  app/public/wp-content/themes/martfury-child/includes/registration-enhanced.php
Due: none

📦 ADD: Ghid complet deploy cPanel (doar wp-content)
  DEPLOY_TO_CPANEL.md
Due: none

🎯 ADD: cPanel Git deployment automat cu .cpanel.yml
  .cpanel.yml
  CPANEL_GIT_SETUP.md
Due: none

✨ IMPROVE: Coloană Price admin WooCommerce - afișare clară 3 prețuri
  app/public/wp-content/plugins/webgsm-b2b-pricing/assets/admin.css
  app/public/wp-content/plugins/webgsm-b2b-pricing/webgsm-b2b-pricing.php
Due: none

🔧 FIX: Force plugin reload după deploy + bump version 1.1.0
  .cpanel.yml
  app/public/wp-content/plugins/webgsm-b2b-pricing/webgsm-b2b-pricing.php
Due: none

🔧 FIX: Disable auto-deploy în .cpanel.yml (manual copy required)
  .cpanel.yml
Due: none

🔧 FIX: Restore copy commands în .cpanel.yml (auto-deploy)
  .cpanel.yml
Due: none

📝 UPDATE: Add clear comments în .cpanel.yml (deep path structure)
  .cpanel.yml
Due: none

✨ ADD: webgsm-customer-tiers plugin complet (v2.0.0)
  app/public/wp-content/plugins/webgsm-customer-tiers/includes/class-tier-admin.php
  app/public/wp-content/plugins/webgsm-customer-tiers/webgsm-customer-tiers.php
Due: none

🔧 FIX: Update .cpanel.yml paths pentru /test/ subfolder
  .cpanel.yml
Due: none

Path conditions:
  php: any of: plugins/webgsm-checkout-pro/includes/, themes/martfury-child/includes/, but not: tests/**/*, vendor/**/*, node_modules/**/*, **/*.md, .github/**/*
  javascript: any of: plugins/webgsm-checkout-pro/assets/js/, themes/martfury-child/assets/js/, but not: tests/**/*, vendor/**/*, node_modules/**/*, **/*.md, .github/**/*
